<th:block th:fragment="comments">
    <div>
        <div sec:authorize="isAuthenticated()" th:id="'add-comment-box'+${post.id}" hidden>
            <form th:method="post" th:action="@{/{postId}/comment/add(postId=${post.id})}">
                <div class="input-group">
                    <input th:name="commentContent" type="text" class="form-control comment-content"
                           placeholder="Add a comment...">
                    <input th:name="groupId" th:value="${post.group.id}" hidden>
                    <div class="input-group-append">
                        <button class="comment-button" type="submit">Comment</button>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <ul class="list-group" th:each="comment : ${comments}" th:if="${!comments.isEmpty()}">
                <li th:if="${comment.post.id == post.id}" class="comment-box">
                    <div class="comment-substance">
                        <div class="max-comment-width">
                            <span class="m-0 flex-span">
                                <a class="commenter"
                                   th:href="@{/profile/{username}(username=${comment.commenter.username})}">
                                    <img class="comment-photo" th:src="${comment.commenter.profilePhotoUrl}">
                                </a>
                                <div class="comment-text">
                                    <div>
                                        <a class="commenter-name" th:href="@{/profile/{username}(username=${comment.commenter.username})}">
                                            <span th:text="${comment.commenter.firstName}"></span> <span th:text="${comment.commenter.lastName}"></span>
                                        </a>
                                    </div>
                                    <div><span class="commenter-comment" th:text="${comment.content}"></span></div>
                                </div>
                                <span class="comment-days-ago-info" th:text="${comment.commentDateToString()}"></span>
                            </span>
                        </div>
                        <div sec:authorize="isAuthenticated()" th:if="${comment.commenter.id == loggedInUser.id || comment.group.admin.id == loggedInUser.id}">
                            <div class="flexed-comment-edit-delete">
                                <div th:if="${comment.commenter.id == loggedInUser.id}" class="edit-icon-div">
                                    <i class="bi bi-pencil"></i>
                                    <button type="button" th:id="'edit-comment-button'+${comment.id}"
                                            onclick="showEditCommentForm(event)" class="edit-button"></button>
                                </div>
                                <form hidden th:id="'edit-comment-form'+${comment.id}" th:action="@{/comment/edit}"
                                      th:method="post">
                                    <input th:name="commentId" th:value="${comment.id}" hidden>
                                    <input th:name="commentContent" type="text"
                                           class="edit-comment-content comment-text">
                                    <button type="button" th:id="'cancel-edit-comment-button'+${comment.id}"
                                            onclick="hideEditCommentForm(event)" class="cancel-button">Cancel
                                    </button>
                                    <button type="submit" class="update-comment-button">Update Comment</button>
                                </form>
                                <div class="delete-icon-div">
                                    <form th:action="@{/comment/delete}" th:method="post">
                                        <input th:name="commentId" th:value="${comment.id}" hidden>
                                        <!--                                <button type="submit" class="delete-button"><i class="bi bi-x-square"></i></button>-->
                                        <button type="submit" class="delete-button"><i class="bi bi-trash"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!--        <div sec:authorize="!isAuthenticated()">-->
        <!--            <ul class="list-group" th:each="comment : ${comments}" th:if="${!comments.isEmpty()}">-->
        <!--                <li th:if="${comment.post.id == post.id}" class="comment-box">-->
        <!--                    <div class="flexed-comment-edit-delete">-->
        <!--                        <div class="max-comment-width2">-->
        <!--                        <span class="m-0 flex-span2">-->
        <!--                            <a class="commenter"-->
        <!--                               th:href="@{/profile/{username}(username=${comment.commenter.username})}">-->
        <!--                                <span th:text="${comment.commenter}"> </span>-->
        <!--                            </a>-->
        <!--                            <span class="comment-text2" th:text="${comment.content}"></span>-->
        <!--                        </span>-->
        <!--                            <p class="comment-days-ago-info" th:text="${comment.commentDateToString()}"></p>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </li>-->
        <!--            </ul>-->
        <!--        </div>-->
    </div>
</th:block>