<th:block th:fragment="create-group-button">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Create a Group
    </button>
</th:block>

<th:block th:fragment="create-group-modal">
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Create Group</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="isPrivateCheck">
                            <label class="form-check-label" for="isPrivateCheck">
                                Make Your Group Private
                            </label>
                        </div>
                        <div class="mb-3">
                            <label for="create-group-name" class="col-form-label">Group Name:</label>
                            <input type="text" class="form-control" id="create-group-name">
                        </div>
                        <div class="mb-3">
                            <label for="about-group" class="col-form-label">About Group:</label>
                            <textarea class="form-control" id="about-group"></textarea>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="typeCheck1">
                            <label class="form-check-label" for="typeCheck1">
                                InfoPost
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="typeCheck2">
                            <label class="form-check-label" for="typeCheck2">
                                Marketplace
                            </label>
                        </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="typeCheck3">
                        <label class="form-check-label" for="typeCheck3">
                          Events
                        </label>
                      </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-outline-primary">Create</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
