<th:block th:fragment="event-post">

    <div class="post-card list-group-item list-group-item-action my-2">
        <div th:id="'post-content'+${post.id}">
            <div class="d-flex w-100 justify-content-between post-item">
                <div class="posted-by-info">
                    <div class="group-photo"></div>
                    <div class="user-photo">
                    </div>
                    <a th:href="@{'/profile/' + ${post.user.getUsername()}}"><small><span th:text="${post.user}"></span></small></a>
                    <small>posted in </small>
                    <a th:href="@{'/group/' + ${post.group.getId()}}"><small><span
                            th:text="${post.group}"></span></small></a>
                </div>
                <div>
                    <small th:text="${post.postDateToString()}"></small>
                </div>
            </div>
            <h5 class="mb-1"><span th:text="${post.header}"></span></h5>
            <p class="mb-1"><span th:text="${post.eventDate}"></span></p>
            <p class="mb-1"><span th:text="${post.eventAddress}"></span></p>
            <p class="mb-1"><span th:text="${post.body}"></span></p>
        </div>

        <div sec:authorize="isAuthenticated()">

            <form method="post" th:id="'hidden-form'+${post.id}" th:action="@{/post/event/edit}" hidden>
                <div class="d-flex w-100 justify-content-between post-item">
                    <input th:name="header" class="mb-1" th:value="${post.header}">
                    <small th:text="${post.postDateToString()}"></small>
                </div>
                <input th:name="eventDate" class="mb-1" th:value="${post.eventDate}"><br>
                <input th:name="eventAddress" class="mb-1" th:value="${post.eventAddress}"><br>
                <input th:name="body" class="mb-1" th:value="${post.body}">
                <br>
                <small><span th:text="${post.user}"></span></small>

                <input th:name="id" class="mb-1" th:value="${post.id}" hidden>


                <div th:if="${loggedInUser.getId() == post.user.id}">
                    <button type="button" onclick="cancelEditingPost(event)" th:id="'cancel-button'+${post.id}"
                            class="btn btn-secondary">Cancel
                    </button>

                    <button type="submit" th:id="'save-button'+${post.id}"
                            class="btn btn-success search-location-btn">Save
                    </button>
                </div>
            </form>

            <div th:if="${loggedInUser.getId() == post.user.id}">
                <button type="button" onclick="editPost(event)" th:id="'edit-button'+${post.id}"
                        class="btn btn-warning">
                    Edit
                </button>

                <form th:method="post" th:action="@{/post/delete}">
                    <input th:name="id" class="mb-1" th:value="${post.id}" hidden>
                    <button type="submit" th:id="'delete-button'+${post.id}"
                            class="btn btn-danger">
                        Delete
                    </button>
                </form>
            </div>

            <div class="container-fluid d-flex justify-content-center my-4">
                <div id="event-map"></div>
            </div>
        </div>
    </div>

    <div sec:authorize="isAuthenticated()">
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.js'></script>
        <script th:src="@{/js/mapbox_js.js}"></script>
    </div>

</th:block>