<th:block th:fragment="footer">
    <th:block th:insert="~{partials/loading-spinner :: loading-spinner}"></th:block>
    <div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.3.js"
                integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.js'></script>
        <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
        <script src="/keys.js"></script>
        <script th:src="@{/js/loading-spinner.js}"></script>
        <div sec:authorize="isAuthenticated()">
            <script th:src="@{/js/chat_bar.js}"></script>
            <script th:src="@{/js/notifications.js}"></script>
            <script th:src="@{/js/filestack_create_group.js}"></script>
        </div>
    </div>
    <!--fixed chat bar-->
    <div>
        <th:block th:insert="~{partials/chat-bar :: chat-bar}"></th:block>
    </div>

    <!--footer-->
    <footer class="main-footer">

        <div class="container-fluid">
            <div class="flex-footer">
                <div class="d-flex justify-content-center my-auto w-25">
                    <a class="fs-6 mx-3 footer-links" href="/">HOME</a></li>
                    <a class="fs-6 mx-3 footer-links" th:href="@{/groups}">GROUPS</a></li>
                    <a class="fs-6 mx-3 footer-links" th:href="@{/about}">ABOUT</a></li>
                </div>

                <div class="text-center my-auto w-50">
                    <img class="tether-icon-middle-footer mx-auto" th:src="@{/img/black_text-logoname_transparent_background.png}"
                         alt="Tether Logo">
                </div>

                <div class="my-auto text-center w-25">
                    <a href="/" aria-label="Bootstrap">
                        <img class="tether-icon-footer mx-auto" th:src="@{/img/black_icon_transparent_background.png}"
                             alt="Tether Icon">
                    </a>
                    <br>
                </div>
            </div>
        </div>
    </footer>
</th:block>