<th:block th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-tether">
        <!--tether logo-->
        <a class="navbar-brand" th:href="@{/}">
            <img class="tether-icon" th:src="@{/img/black_icon_transparent_background.png}" alt="Tether Icon">
        </a>

        <!--hamburger button for drop down for smaller screens-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--searchbar-->
        <div class="search-input-icon">
            <form class="search-form" th:action="@{/search-results}" th:method="GET">
                <input class="nav-search-bar" type="search" placeholder="Search by keywords" name="search">
                <button class="btn nav-btn" type="submit"><i class="bi bi-search fw-bold fs-2"></i></button>
            </form>
        </div>

        <div class="rest-of-nav collapse navbar-collapse">
            <!--                <div class="rest-of-nav">-->
            <ul class="navbar-nav">
                <li class="nav-item nav-font">
                    <a class="nav-link active" href="/">HOME</a>
                </li>
                <li class="nav-item nav-font">
                    <a class="nav-link" href="/groups">GROUPS</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-font" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown">ACCOUNT</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item nav-font" th:href="@{/group/create}">CREATE GROUP</a>
                        </li>
                        <li>
                            <a class="dropdown-item nav-font" th:href="@{/profile/my-account}">MY PROFILE</a>
                        </li>
                        <li>
                            <a class="dropdown-item nav-font" th:href="@{/notifications}">NOTIFICATIONS</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item nav-font" th:href="@{/profile/settings}">SETTINGS</a>
                        </li>
                    </ul>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link nav-font" href="/login">LOGIN/REGISTER</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <form th:action="@{/logout}" th:method="POST">
                        <button class="nav-link btn nav-font">LOGOUT</button>
                    </form>
                </li>
            </ul>
            <!--                </div>-->
        </div>
    </nav>
    <div class="gradient-under-nav1"></div>
</th:block>