<th:block th:fragment="sale-post">
<!--posted by in which group showing-->
    <div class="individual-card-posts list-group-item list-group-item-action">
        <div th:id="'post-content'+${post.id}">
            <div class="d-flex w-100 justify-content-between post-item">
                <div class="posted-by-info">
                    <a th:href="@{/profile/{username}(username=${post.user.username})}">
                        <img class="user-photo" th:src="${post.user.profilePhotoUrl}">
                    </a>
                    <div class="user-post-info post-info-font">
                        <a th:href="@{'/profile/' + ${post.user.getUsername()}}" th:text="${post.user}"></a>
                        <span> posted in </span>
                        <a th:href="@{'/group/' + ${post.group.getId()}}" th:text="${post.group.name}"></a>
                    </div>
                </div>
<!--three dot edit/delete-->
                <div class="days-ago-info">
                    <div sec:authorize="isAuthenticated()">
                        <div th:if="${loggedInUser.getId() == post.user.id}">
                            <div class="post-options-dropdown dropstart">
                                <button class="three-dot-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                                <div class="dropdown-menu custom-post-dropdown">
                                    <button type="button" onclick="editPost(event)" th:id="'edit-button'+${post.id}"
                                            class="dropdown-edit-button">
                                        Edit
                                    </button>
                                    <form th:method="post" th:action="@{/post/delete}">
                                        <input th:name="id" class="mb-1" th:value="${post.id}" hidden>
                                        <input th:name="groupId" th:value="${post.group.id}" hidden>
                                        <button type="submit" th:id="'delete-button'+${post.id}"
                                                class="dropdown-delete-button">
                                            Delete
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span th:text="${post.postDateToString()}"></span>
                </div>
            </div>
<!--post details-->
            <div>
                <p class="post-info-font mt-1 mb-0">Asking price: $<span th:text="${post.postPrice}"></span></p>
            </div>
            <p class="post-header"><span th:text="${post.header}"></span></p>
            <p class="post-details"><span th:text="${post.body}"></span></p>
        </div>

		<!--edit modal-->
		<div sec:authorize="isAuthenticated()">

			<form method="post" th:id="'hidden-form'+${post.id}" th:action="@{/post/sale/edit}" hidden>
				<input th:name="price" class="edit-post-input" th:value="${post.postPrice}">
				<label>Price</label>
				<br>
				<input th:name="header" class="edit-post-input" th:value="${post.header}">
				<label>Title</label>
				<br>
				<input th:name="body" class="edit-post-input" th:value="${post.body}">
				<label>Description</label>
				<br>

				<input th:name="id" th:value="${post.id}" hidden>


				<div th:if="${loggedInUser.getId() == post.user.id}">
					<button type="button" onclick="cancelEditingPost(event)" th:id="'cancel-button'+${post.id}"
							class="cancel-post-button">Cancel
					</button>

					<button type="submit" th:id="'save-button'+${post.id}"
							class="update-post-button">Save
					</button>
				</div>
			</form>
		</div>

		<!--comments-->
		<div class="comments-container">
			<th:block th:insert="~{partials/comments :: comments}"></th:block>
		</div>

	</div>

</th:block>

