<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create group</title>
  <th:block th:insert="~{partials/styles :: styles}"></th:block>
</head>
<body>
<th:block th:insert="~{partials/navbar :: navbar}"></th:block>


<h1>This is the CREATE GROUP page</h1>

<!--<form method="post" action="/group/create">-->
<!--    <label for="group-name">Group Name:</label>-->
<!--    <input type="text" name="group-name" id="group-name" required>-->

<!--    <br>-->

<!--    <label for="description">Description:</label>-->
<!--    <textarea name="description" id="description" required></textarea>-->

<!--    <br>-->

<!--    <label for="visibility">Visibility:</label>-->
<!--    <input type="checkbox" name="visibility" id="visibility">-->
<!--    <span>Private</span>-->

<!--    <br>-->

<!--    <label for="post-types">Post Types:</label>-->
<!--    <select name="post-types" id="post-types" multiple>-->
<!--        <option value="1">Event</option>-->
<!--        <option value="2">For Sale</option>-->
<!--        <option value="3">Q&A</option>-->
<!--    </select>-->

<!--    <br>-->

<!--    <button type="submit">Create Group</button>-->
<!--</form>-->



<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="/group/create">
            <div class="modal-body">
                    <label for="group-name">Group Name:</label>
                    <input type="text" name="group-name" id="group-name" required>

                    <br>
                    <br>

                    <label for="description">Description:</label>
                    <textarea name="description" id="description" required></textarea>

                    <br>
                    <br>
                    <br>

                    <label for="visibility">Visibility:</label>
                    <input type="checkbox" name="visibility" id="visibility">
                    <span>Private</span>

                    <br>
                    <br>
                    <br>

                    <label for="post-types">Post Types:</label>
                    <select name="post-types" id="post-types" multiple>
                        <option value="1">Event</option>
                        <option value="2">For Sale</option>
                        <option value="3">Q&A</option>
                    </select>

                    <br>
                    <br>
                    <br>

            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create Group</button>
                </div>
            </form>
        </div>
    </div>
</div>




<th:block th:insert="~{partials/footer :: footer}"></th:block>
</body>
</html>