<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <head>
        <meta charset="UTF-8">
        <title>Create group</title>
        <th:block th:insert="~{partials/styles :: styles}"></th:block>
    </head>
<body>
<th:block th:insert="~{partials/navbar :: navbar}"></th:block>


<h1>This is the CREATE GROUP page</h1>


<form th:method="post" th:action="@{/group/create}" th:object="${group}">
    <div class="mx-auto">
        <label for="group-name">Group Name:</label>
        <input type="text" name="name" id="group-name" th:field="*{name}" required>
        <br>
        <label for="description">Description:</label>
        <textarea name="paragraph_text" cols="50" rows="10" id="description" th:field="*{description}" required></textarea>

        <br>
        <label for="visibility">Visibility:</label>
        <input type="checkbox" name="private" th:field="*{private}" id="visibility">
        <span>Private</span>
        <br>
        <label for="post-types">Post Types:</label>
        <select name="postTypes" id="post-types" th:field="*{postTypes}" multiple>
            <option value="2">Event</option>
            <option value="3">For Sale</option>
            <option value="4">Q&A</option>
        </select>
        <br>
        <input type="hidden" th:field="*{id}">
    </div>
    <div class="mx-auto">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create Group</button>
    </div>
</form>

<th:block th:insert="~{partials/footer :: footer}"></th:block>
</body>
</html>