<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<th:block th:insert="~{partials/styles :: styles}"></th:block>
</head>
<body>
<th:block th:insert="~{partials/navbar :: navbar}"></th:block>


<h1>This is the GROUP page</h1>

<div class="container">

	<div>
		<h1><span th:text="${group.name}"></span></h1>
		<h5><span th:text="${group.description}"></span></h5>
		<p>The admin of this group is <span th:text="${group.admin}"></span></p>
	</div>

	<div>
		<a th:href="@{/group/{groupId}/members(groupId=${group.getId()})}">View All Members</a>
	</div>


</div>


<th:block th:insert="~{partials/footer :: footer}"></th:block>
</body>
</html>