<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title th:text="${group.name}"></title>
	<th:block th:insert="~{partials/styles :: styles}"></th:block>
	<link rel="stylesheet" href="/styles/group.css"/>
</head>
<body>
<th:block th:insert="~{partials/navbar :: navbar}"></th:block>
<div>
	<h1><span th:text="${group.name}"></span></h1>
	<img class="group-photo-banner" th:src="${group.groupPhotoURL}">
</div>

<div class="container-fluid">
	<div sec:authorize="isAuthenticated()">
		<div th:if="${(isMember && !isPending) || isAdmin}">
			<th:block th:insert="~{partials/create-post :: create-post}"></th:block>
		</div>
	</div>

	<div class="container">
		<!--    join group button/form-->
		<div sec:authorize="isAuthenticated()">
			<div th:if="${!isAdmin && !isMember && !isPending}">
				<form th:action="@{/group/{groupId}/join(groupId=${group.id})}" th:method="POST">
					<button id="join-group-btn" type="submit" class="btn btn-primary">
						Join Group
					</button>
				</form>
			</div>
		</div>
		<!--    pending button-->
		<div sec:authorize="isAuthenticated()">
			<div th:if="${!isAdmin && !isMember && isPending}">
				<form th:action="@{/group/{groupId}/leave(groupId=${group.id})}" th:method="POST">
					<button id="pending-group-btn" type="submit" class="btn btn-warning">
						Cancel Request
					</button>
				</form>
			</div>
		</div>
		<!--    leave group button/form-->
		<div sec:authorize="isAuthenticated()">
			<div th:if="${!isAdmin && isMember && !isPending}">
				<form th:action="@{/group/{groupId}/leave(groupId=${group.id})}" th:method="POST">
					<button id="leave-group-btn" type="submit" class="btn btn-danger">
						Leave Group
					</button>
				</form>
			</div>
		</div>
		<div class="group-header">
			<p>The admin of this group is <span th:text="${group.admin}"></span></p>
			<h5><span th:text="${group.description}"></span></h5>
		</div>
	</div>

	<div sec:authorize="isAuthenticated()">
		<!--button displays on page-->
		<div th:if="${isAdmin}">
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editGroupModal">
				Edit Group
			</button>
		</div>
		<div class="modal fade" id="editGroupModal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="editGroupModalLabel">Edit Post</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>
					<form th:method="post" th:action="@{/group/edit}" th:object="${group}">
						<div class="modal-body">
							<label for="group-name">Group Name:</label>
							<input type="text" name="name" id="group-name" th:value="${group.name}" th:field="*{name}"
								   required>
							<br>
							<button type="button" class="btn btn-secondary" onclick="openFileStackModal()">Add cover photo</button>
							<input hidden id="photo-url" th:value="${group.groupPhotoURL}" th:name="photo-url">
							<br>
							<label for="description">Description:</label>
							<input name="description" id="description" th:value="${group.description}"
								   th:field="*{description}"
								   required>
							<br>
							<label for="visibility">Visibility:</label>
							<input type="checkbox" name="private" th:value="${group.private}" th:field="*{private}"
								   id="visibility">
							<span>Private</span>
							<br>
							<label for="post-types">Post Types:</label>
							<select name="postTypes" id="post-types" th:value="${group.postTypes}"
									th:field="*{postTypes}"
									multiple>
								<option value="2">Event</option>
								<option value="3">For Sale</option>
								<option value="4">Q&A</option>
							</select>
							<br>
							<input type="hidden" th:field="*{id}">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Submit Edit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div sec:authorize="isAuthenticated()">
		<div th:if="${isAdmin}">
			<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteGroupModal">
				Delete Group
			</button>
		</div>
		<div class="modal fade" id="deleteGroupModal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="deleteGroupModalLabel">Modal title</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>
					<form th:method="post" th:action="@{/group/delete}" th:object="${group}">
						<div class="modal-body">
							<label for="group-name">Group Name:</label>
							<div name="name" id="group-name-delete">Are you sure you want to delete: <span
									th:text="${group.name}" th:field="*{name}"></span>?
							</div>
							<input type="hidden" th:field="*{id}">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
							<button type="submit" class="btn btn-danger">Delete</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


	<div class="three-main">

		<div class="d-flex align-items-start">
			<div th:if="${!groupIsPrivate || isMember || isAdmin}" class="group-nav-pabs nav flex-column nav-pills me-3"
				 id="v-pills-tab" role="tablist">
				<button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
						data-bs-target="#v-pills-home" type="button" role="tab">All Posts
				</button>
				<button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
						data-bs-target="#v-pills-profile" type="button" role="tab">Event Posts
				</button>
				<button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill"
						data-bs-target="#v-pills-messages" type="button" role="tab">Sale Posts
				</button>
				<button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
						data-bs-target="#v-pills-settings" type="button" role="tab">QandAPosts
				</button>
			</div>

			<div th:if="${groupIsPrivate && !isMember && !isAdmin}" class="group-nav-pabs nav flex-column nav-pills me-3"
				 id="v-pills-tab" role="tablist">
				<button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
						data-bs-target="#v-pills-home" type="button" role="tab" disabled>All Posts
				</button>
				<button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
						data-bs-target="#v-pills-profile" type="button" role="tab" disabled>Event Posts
				</button>
				<button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill"
						data-bs-target="#v-pills-messages" type="button" role="tab" disabled>Sale Posts
				</button>
				<button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
						data-bs-target="#v-pills-settings" type="button" role="tab" disabled>QandAPosts
				</button>
			</div>

			<div class="group-nav-pane tab-content" id="v-pills-tabContent">

				<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel">

					<div th:if="${!groupIsPrivate || isMember || isAdmin}" class="post-list list-group">
						<h3>Posts</h3>
						<div th:each="post: ${posts}">

							<div th:if="${post.postType.id == 1}">
								<th:block th:insert="~{partials/text-post :: text-post}"></th:block>
							</div>

							<div th:if="${post.postType.id == 2}">
								<th:block th:insert="~{partials/event-post :: event-post}"></th:block>
							</div>

							<div th:if="${post.postType.id == 3}">
								<th:block th:insert="~{partials/sale-post :: sale-post}"></th:block>
							</div>

							<div th:if="${post.postType.id == 4}">
								<th:block th:insert="~{partials/QandA-post :: QandA-post}"></th:block>
							</div>

							<div th:if="${loggedInUser != null}">
								<form th:if="${loggedInUser.id == admin.id && loggedInUser.id != post.user.id}"
									  th:method="post"
									  th:action="@{/post/delete}">
									<input th:name="id" th:value="${post.id}" hidden>
									<input th:name="groupId" th:value="${group.id}" hidden>
									<button type="submit" class="btn btn-danger">
										Delete
									</button>
								</form>
							</div>

						</div>
					</div>

					<div th:if="${groupIsPrivate && !isMember && !isAdmin}" class="post-list list-group">
						<h3>Posts</h3>
						<br>
						<br>
						<h6>Join group to see posts</h6>
					</div>

				</div>

				<div th:if="${!groupIsPrivate || isMember || isAdmin}" class="tab-pane fade" id="v-pills-profile" role="tabpanel">

					<div class="post-list list-group">
						<h3>Posts</h3>
						<div th:each="post: ${posts}">
							<div th:if="${post.postType.id == 2}">
								<th:block th:insert="~{partials/event-post :: event-post}"></th:block>
								<div th:if="${loggedInUser != null}">
									<form th:if="${loggedInUser.id == admin.id && loggedInUser.id != post.user.id}"
										  th:method="post"
										  th:action="@{/post/delete}">
										<input th:name="id" th:value="${post.id}" hidden>
										<input th:name="groupId" th:value="${group.id}" hidden>
										<button type="submit" class="btn btn-danger">
											Delete
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div th:if="${!groupIsPrivate || isMember || isAdmin}" class="tab-pane fade" id="v-pills-messages" role="tabpanel">

					<div class="post-list list-group">
						<h3>Posts</h3>
						<div th:each="post: ${posts}">
							<div th:if="${post.postType.id == 3}">
								<div th:if="${loggedInUser != null}">
									<form th:if="${loggedInUser.id == admin.id && loggedInUser.id != post.user.id}"
										  th:method="post"
										  th:action="@{/post/delete}">
										<input th:name="id" th:value="${post.id}" hidden>
										<input th:name="groupId" th:value="${group.id}" hidden>
										<button type="submit" class="btn btn-danger">
											Delete
										</button>
									</form>
								</div>
								<th:block th:insert="~{partials/sale-post :: sale-post}"></th:block>
							</div>
						</div>
					</div>

				</div>

				<div th:if="${!groupIsPrivate || isMember || isAdmin}" class="tab-pane fade" id="v-pills-settings" role="tabpanel">

					<div class="post-list list-group">
						<h3>Posts</h3>
						<div th:each="post: ${posts}">
							<div th:if="${post.postType.id == 4}">
								<th:block th:insert="~{partials/QandA-post :: QandA-post}"></th:block>
								<div th:if="${loggedInUser != null}">
									<form th:if="${loggedInUser.id == admin.id && loggedInUser.id != post.user.id}"
										  th:method="post"
										  th:action="@{/post/delete}">
										<input th:name="id" th:value="${post.id}" hidden>
										<input th:name="groupId" th:value="${group.id}" hidden>
										<button type="submit" class="btn btn-danger">
											Delete
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>


		<div class="members-list">
			<h3>Members</h3>
			<div th:if="${!groupIsPrivate || isMember || isAdmin}" class="list-group">
				<div class="list-group-item list-group-item-action my-2">
					<div sec:authorize="isAuthenticated()">
						<a th:href="@{/profile/{username}(username=${admin.username})}"><h2><span
								th:text="${admin.username}"></span></h2></a>
					</div>
					<div sec:authorize="!isAuthenticated()">
						<h2><span th:text="${admin.username}"></span></h2>
					</div>
				</div>
				<div th:each="member: ${members}" class="list-group-item list-group-item-action my-2">
					<div sec:authorize="isAuthenticated()">
						<a th:href="@{/profile/{username}(username=${member.username})}"><h2><span
								th:text="${member.username}"></span></h2></a>
					</div>
					<div sec:authorize="!isAuthenticated()">
						<h2><span th:text="${member.username}"></span></h2>
					</div>
					<div sec:authorize="isAuthenticated()" th:if="${loggedInUser.id == admin.id}">
						<form th:action="@{/group/{groupId}/{memberId}/remove(groupId=${groupId}, memberId=${member.id})}"
							  th:method="post">
							<button type="submit" class="btn btn-danger">Remove</button>
						</form>
					</div>
				</div>
				<div>
					<a th:href="@{/group/{groupId}/members(groupId=${group.id})}">View All Members</a>
				</div>
			</div>

			<div th:if="${groupIsPrivate && !isMember && !isAdmin}" class="list-group">
				<br>
				<br>
				<h6>Join group to see members</h6>
			</div>

		</div>

	</div>

</div>

<th:block th:insert="~{partials/footer :: footer}"></th:block>
<script th:src="@{/js/posts.js}"></script>
<script th:src="@{/js/add_comments.js}"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script>

    const inputForPhotoURL = document.getElementById("photo-url");

    const client = filestack.init(FILESTACK_API_KEY);
    const options = {
        onFileUploadFinished(file) {
            inputForPhotoURL.value = file.url;
        }
    }
    const openFileStackModal = () => {
        client.picker(options).open();
    };

</script>
</body>
</html>