<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Groups List</title>
	<th:block th:insert="~{partials/styles :: styles}"></th:block>
	<link rel="stylesheet" href="/styles/group-list.css"/>
</head>
<body>
<th:block th:insert="~{partials/navbar :: navbar}"></th:block>


<h1>This is the GROUPS LIST page</h1>

<!--<form class="search-form" th:action="@{/search-results}" th:method="GET">-->
<!--	<input class="search-bar form-control me-2" type="search" placeholder="Search" name="search">-->
<!--	<button class="search-button btn btn-outline-success" type="submit">Search</button>-->
<!--</form>-->

<div class="container">
		<div th:each="group: ${groups}" class="group-card">
				<div class="group-photo">

				</div>
				<a th:href="@{/group/{id}(id=${group.id})}">
					<h5 class="mb-1"><span th:text="${group.name}"></span></h5>
				</a>
			<p class="mb-1"><span th:text="${group.description}"></span></p>
			<a th:href="@{/profile/{id}(id=${group.getAdmin().getUsername()})}"><small>Admined by: <span th:text="${group.getAdmin()}"></span></small></a>
		</div>
</div>


<th:block th:insert="~{partials/footer :: footer}"></th:block>
</body>
</html>