<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
  <th:block th:insert="~{partials/styles :: styles}"></th:block>
</head>
<body>
<th:block th:insert="~{partials/navbar :: navbar}"></th:block>


<h1>This is the MEMBERS LIST page</h1>

<div class="container">
	<div class="list-group">
		<div th:each="member: ${members}" class="list-group-item list-group-item-action my-2">
			<div sec:authorize="isAuthenticated()">
				<a th:href="@{/profile/{id}(id=${member.getUsername()})}"><h1><span th:text="${member.username}"></span></h1></a>
			</div>
			<div sec:authorize="!isAuthenticated()">
			<h1><span th:text="${member.username}"></span></h1>
			</div>
<!--			<div class="d-flex w-100 justify-content-between post-item">-->
<!--				<a th:href="@{/group/{id}(id=${group.id})}">-->
<!--					<h5 class="mb-1"><span th:text="${group.name}"></span></h5>-->
<!--				</a>-->
<!--			</div>-->
<!--			<p class="mb-1"><span th:text="${group.description}"></span></p>-->
<!--			<a th:href="@{/profile/{id}(id=${group.getAdmin().getUsername()})}"><small><span th:text="${group.getAdmin()}"></span></small></a>-->
		</div>
	</div>
</div>


<th:block th:insert="~{partials/footer :: footer}"></th:block>
</body>
</html>