<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Title</title>
  <th:block th:insert="~{partials/styles :: styles}"></th:block>
</head>
<body>
<th:block th:insert="~{partials/navbar :: navbar}"></th:block>


<h1>This is the MEMBERS LIST page</h1>

<div class="container">
	<div class="list-group">
		<div class="list-group-item list-group-item-action my-2">
			<div sec:authorize="isAuthenticated()">
				<a th:href="@{/profile/{username}(username=${adminMember.username})}"><h1><span th:text="${adminMember.username}"></span></h1></a>
			</div>
			<div sec:authorize="!isAuthenticated()">
				<h1><span th:text="${adminMember.username}"></span></h1>
			</div>
		</div>
		<div th:each="member: ${members}" class="list-group-item list-group-item-action my-2">
			<div sec:authorize="isAuthenticated()">
				<a th:href="@{/profile/{username}(username=${member.username})}"><h1><span th:text="${member.username}"></span></h1></a>
			</div>
			<div sec:authorize="!isAuthenticated()">
			<h1><span th:text="${member.username}"></span></h1>
			</div>
			<div sec:authorize="isAuthenticated()" th:if="${loggedInUserIsAdmin}">
				<form th:action="@{/group/{groupId}/{memberId}/remove(groupId=${groupId}, memberId=${member.id})}" th:method="post">
						<button type="submit" class="btn btn-danger">Remove</button>
				</form>
			</div>
		</div>
	</div>
</div>


<th:block th:insert="~{partials/footer :: footer}"></th:block>
</body>
</html>