<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Groups - Tether</title>
    <th:block th:insert="~{partials/styles :: styles}"></th:block>
    <link rel="stylesheet" href="/styles/my-groups.css"/>
</head>
<body>
<th:block th:insert="~{partials/navbar :: navbar}"></th:block>
<div id="page-content-with-footer">
    <div id="page-content-without-footer">

        <h1 class="content-header">MY GROUPS</h1>

        <div class="container-fluid my-groups-page-content">
            <!--owned groups-->
            <div class="owned-groups-container">
                <h3 class="content-header mb-2">Owned Groups</h3>
                <div class="group-card-container">
                    <div th:each="group: ${groupsWhereUserIsAdmin}" class="group-card">
                        <a class="no-text-decoration1" th:href="@{/group/{id}(id=${group.id})}">
                            <img class="group-header-group-list" th:src="${group.groupPhotoURL}"
                                 alt="group photo banner">
                            <div class="p-3">
                                <h5 class="mb-1 text-dark fw-bolder"><span th:text="${group.name}"></span></h5>
                                <p class="mb-1 text-dark"><span th:text="${group.description}"></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!--joined groups-->
            <div class="joined-groups-container">
                <h3 class="content-header mb-2">Joined Groups</h3>
                <div class="group-card-container">
                    <div th:each="group: ${groupsWhereUserIsAdmin}" class="group-card">
                        <a class="no-text-decoration1" th:href="@{/group/{id}(id=${group.id})}">
                            <img class="group-header-group-list" th:src="${group.groupPhotoURL}"
                                 alt="group photo banner">
                            <div class="p-3 flex-pill">
                                <div class="me-2">
                                    <h5 class="mb-1 text-dark fw-bolder"><span th:text="${group.name}"></span></h5>
                                    <p class="mb-1 text-dark"><span th:text="${group.description}"></span></p>
                                </div>
                                <div class="align-pill">
                                    <div th:if="${group.private}">
                                        <span class="badge rounded-pill private-pill">Private</span>
                                    </div>
                                    <div th:if="${!group.private}">
                                        <span class="badge rounded-pill public-pill">Public</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>

<div class="footer-stationary">
    <th:block th:insert="~{partials/footer :: footer}"></th:block>
</div>
</div>
</body>
</html>