<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Log In</title>
    <th:block th:insert="~{partials/styles :: styles}"></th:block>
</head>
<body>
<h1>Log In</h1>


<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                type="button" role="tab">Log-in
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                type="button" role="tab">Register
        </button>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">


    <div class="tab-pane fade show active" id="pills-home" role="tabpanel">
        <div class="card" style="width: 18rem;">
            <div class="card-body">

                <h3>Log in</h3>

                <form th:action="@{/login}" method="post">
                    <label for="username">Username</label>
                    <input id="username" name="username" type="text"/>
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password"/>
                    <input type="submit" value="Log In"/>
                </form>

            </div>
        </div>
    </div>


    <div class="tab-pane fade" id="pills-profile" role="tabpanel">
        <div class="card" style="width: 18rem;">
            <div class="card-body">

                <h3>Register</h3>

                <form th:action="@{/register}" method="POST" th:object="${user}">
                    <label for="register-first-name" class="form-label">First Name</label>
                    <input id="register-first-name" th:field="*{firstName}" class="form-control" required>

                    <label for="register-last-name" class="form-label">Last Name</label>
                    <input id="register-last-name" th:field="*{lastName}" class="form-control" required>

                    <label for="register-username" class="form-label">Username</label>
                    <input id="register-username" th:field="*{username}" class="form-control" required>

                    <label for="register-email" class="form-label">Email</label>
                    <input id="register-email" th:field="*{email}" class="form-control" required>

                    <label for="register-password" class="form-label">Password</label>
                    <input id="register-password" type="password" th:field="*{password}" class="form-control" required>
                    <div>Password must be at least 8 characters, 1 uppercase and 1 lowercase letter, 1 number, and 1 special character</div>

                    <label for="register-pw-verification" class="form-label">Re-Type Password</label>
                    <input id="register-pw-verification" type="password" class="form-control" required>

                    <input id="submit" value="Sign me up!" type="submit"/>
                </form>
            </div>
        </div>
    </div>


</div>

<th:block th:insert="~{partials/footer :: footer}"></th:block>
<script src="../../static/register_password_verification.js"></script>
</body>
</html>