<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Notifications</title>
        <th:block th:insert="~{partials/styles :: styles}"></th:block>
        <link rel="stylesheet" href="/styles/notifications.css"/>
    </head>
<body>
<th:block th:insert="~{partials/navbar :: navbar}"></th:block>

<!--page content-->
<div id="page-content-with-footer">
    <div id="page-content-without-footer" class="page-content-notifications" sec:authorize="isAuthenticated()">

        <div class="general-notification-info">
            <div><span th:text="${loggedInUser.username}"></span>, you have <span th:text="${requestCount}"></span>
                notifications
            </div>
        </div>

        <div class="all-request-container">

            <!--group requests-->
            <div class="group-request-container">
                <h3 class="content-header-notifications">Group Requests</h3>
                <div class="group-cards-container">
                    <div class="m-1" th:each="membership : ${membershipRequests}">
                        <div class="request-div">
                            <div>
                                <a class="notifications-image-a"
                                   th:href="@{/profile/{username}(username=${membership.user.username})}">
                                    <img class="notification-user-photo" th:src="${membership.user.profilePhotoUrl}"
                                         alt="friend photo">
                                </a>
                            </div>

                            <div class="group-friend-icon-div">
                                <i class="bi bi-people-fill"></i>
                            </div>

                            <div class="notifications-group-request-font">
                                <div class="d-flex">
                                    <a class="notif-username-a"
                                       th:href="@{/profile/{username}(username=${membership.user.username})}">
                                        <span th:text="${membership.user.firstName}"></span> <span
                                            th:text="${membership.user.lastName}"></span>
                                    </a>
                                    <p class="sent-you-a-request-p">sent you a group request for <span
                                            th:text="${membership.group}"></span></p>
                                </div>

                                <div class="notification-button-div">
                                    <form class="notification-form-width"
                                          th:action="@{/notifications/accept/{id}(id=${membership.id})}"
                                          th:method="POST">
                                        <button class="group-notification-confirm-button">Confirm</button>
                                    </form>
                                    <form class="notification-form-width"
                                          th:action="@{/notifications/deny/{id}(id=${membership.id})}" th:method="POST">
                                        <button class="group-notification-delete-button">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--friend requests-->
            <div class="friend-request-container">
                <h3 class="content-header-notifications">Friend Requests</h3>
                <div class="friend-cards-container">
                    <div th:each="friendship : ${friendshipRequests}">
                        <div class="request-div">
                            <div>
                                <a class="notifications-image-a"
                                   th:href="@{/profile/{username}(username=${friendship.requester.username})}">
                                    <img class="notification-user-photo"
                                         th:src="${friendship.requester.profilePhotoUrl}"
                                         alt="friend photo">
                                </a>
                            </div>

                            <div class="group-friend-icon-div">
                                <i class="bi bi-person-circle"></i>
                            </div>

                            <div class="notifications-group-request-font">
                                <div class="d-flex">
                                    <a class="notif-username-a"
                                       th:href="@{/profile/{username}(username=${friendship.requester.username})}">
                                        <span th:text="${friendship.requester.firstName}"></span> <span
                                            th:text="${friendship.requester.lastName}"></span>
                                    </a>
                                    <p class="sent-you-a-request-p">sent you a friend request</p>
                                </div>

                                <div class="notification-button-div">
                                    <form class="notification-form-width"
                                          th:action="@{/profile/{userId}/accept(userId=${friendship.requester.id})}"
                                          th:method="POST">
                                        <input th:name="currentPage" th:value="notifications-page" hidden>
                                        <button class="friend-notification-confirm-button">Confirm</button>
                                    </form>
                                    <form class="notification-form-width"
                                          th:action="@{/profile/{userId}/decline(userId=${friendship.requester.id})}"
                                          th:method="GET">
                                        <input th:name="currentPage" th:value="notifications-page" hidden>
                                        <button class="friend-notification-delete-button">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="footer-stationary">
        <th:block th:insert="~{partials/footer :: footer}"></th:block>
    </div>
</div>
</body>
</html>