<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<th:block th:insert="~{partials/styles :: styles}"></th:block>
</head>
<body>
<th:block th:insert="~{partials/navbar :: navbar}"></th:block>

<h1>This is the PROFILE page</h1>

<div th:if="${!isMyAccountPage}">
	<!--add friend button-->
	<div sec:authorize="isAuthenticated()">
		<div th:if="${!requestExists}">
			<form th:action="@{/profile/{userId}/add(userId=${user.id})}" th:method="POST">
				<button id="add-friend-btn" type="submit" class="btn btn-primary">
					Add Friend
				</button>
			</form>
		</div>
	</div>
	<!--    cancel friend request button-->
	<div sec:authorize="isAuthenticated()">
		<div th:if="${requestExists && isPending && !hasFriendRequestFromThisUser}">
			<form th:action="@{/profile/{userId}/cancel(userId=${user.id})}" th:method="POST">
				<button id="cancel-friend-request-btn" type="submit" class="btn btn-warning">
					Cancel Friend Request
				</button>
			</form>
		</div>
	</div>
	<!--    leave group button/form-->
	<div sec:authorize="isAuthenticated()">
		<div th:if="${requestExists && !isPending}">
			<form th:action="@{/profile/{userId}/remove(userId=${user.id})}" th:method="POST">
				<button id="remove-friend-btn" type="submit" class="btn btn-danger">
					Remove Friend
				</button>
			</form>
		</div>
	</div>

	<!--accept or decline friend request button-->
	<div sec:authorize="isAuthenticated()">
		<div th:if="${requestExists && isPending && hasFriendRequestFromThisUser}">
			<form th:action="@{/profile/{userId}/accept(userId=${user.id})}" th:method="POST">
				<button id="accept-friend-request-btn" type="submit" class="btn btn-primary">
					Accept Friend Request
				</button>
			</form>

			<form th:action="@{/profile/{userId}/remove(userId=${user.id})}" th:method="POST">
				<button id="decline-friend-request-btn" type="submit" class="btn btn-primary">
					Decline Friend Request
				</button>
			</form>
		</div>
	</div>
</div>

<div class="container">

	<h1><span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span></h1>
	<h5><span th:text="${user.username}"></span></h5>

</div>


<th:block th:insert="~{partials/footer :: footer}"></th:block>
</body>
</html>