<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <th:block th:insert="~{partials/styles :: styles}"></th:block>
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
<div id="login-page-container">
    <div id="login-page-wrap">

        <div>
            <!--tether logo fixed on the left-->
            <img th:src="@{/img/customcolor_logo_transparent_background.png}" alt="Tether Logo"
                 class="login-tether-logo margin-top">
        </div>
        <div id="login-page-content">
            <div class="margin-top-2">
                <form th:action="@{/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">
                    <input type="hidden" name="token" th:value="${token}"/>
                    <div class="border border-secondary rounded p-3">
                        <div>
                            <p>
                                You will be redirected to the Login upon successful password change!
                            </p>
                            <p>
                                <input type="password" name="password" id="password" class="form-control"
                                       placeholder="Enter your new password" required autofocus>
                            </p>
                            <p>
                                <input type="password" class="form-control" id="password2"
                                       placeholder="Confirm your new password">
                                <!--                       required oninput="checkPasswordMatch(this);"/>-->
                            </p>
                            <p class="text-center">
                                <input type="submit" id="submit-pw" value="Change Password"
                                       class="login-register-button">
                            </p>
                        </div>

                    </div>
                </form>
            </div>
            <div class="requirement-verification-2 bg-light">
                <!--message for users registering-->
                <div id="message2" class="form-text">
                    <p>New Password Requirements:</p>
                    <ul>
                        <li id="length" class="invalid">8-20 characters long</li>
                        <li id="lowercase" class="invalid">Lowercase letters</li>
                        <li id="uppercase" class="invalid">Uppercase letters</li>
                        <li id="number" class="invalid">1 number</li>
                        <li id="special" class="invalid">1 special character</li>
                        <li id="empty" class="invalid">NO spaces</li>
                        <li id="password-match" class="invalid">Password must match</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="fixed-footer-login">
            <th:block th:insert="~{partials/footer :: footer}"></th:block>
        </div>
    </div>

    <script th:src="@{/js/reset_password.js}"></script>
</body>
</html>