<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:insert="~{partials/styles :: styles}"></th:block>
    <title>About Us - Tether</title>
    <link rel="stylesheet" href="/styles/about.css"/>
</head>
<body>
<th:block th:insert="~{partials/navbar.html :: navbar}"></th:block>
<div id="page-content-with-footer">
    <div id="page-content-without-footer">

<div class="about-section">
    <img class="tether-logo" src="https://cdn.filestackcontent.com/bgPJO2xzQGWZWDTYtEpa">
</div>

<h2 style="text-align:center">Tether Team</h2>
<h4 class="tether-bio">
    Tether is a social media app designed for individuals
    seeking to connect with others who share similar interests and passions.
    With Tether, users can effortlessly create and join groups dedicated to
    specific topics ranging from niche hobbies to broader interests.
</h4>

<hr>

<div class="container-fluid">
    <div class="first-card">
    <div class="row d-flex">
        <img class="col-3 column" src="https://cdn.filestackcontent.com/CXIx7WSrQ1ivtMMHK3VX" alt="joe">
        <div class="container col-9">
            <h2>Joe Vandzura</h2>
            <p class="title">Software developer</p>
            <p class="personal-bio">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                </p>
            <div class="icons">
            <a href="https://www.linkedin.com/in/joe-vandzura/"><i class="bi bi-linkedin"></i></a>
            <a href="https://github.com/joe-vandzura"><i class="bi bi-github"></i></a>
            <img class="codeup-icon" th:src="@{/img/CodeupFullColorChevronYT-removebg-preview.png}" alt="codeup icon">
            </div>
            <p>
                <button onclick="location.href='mailto:vandzura.joe.e@gmail.com?subject=Exciting%20Career%20Opportunity&body=Hello%20Joe,%20I%20was%20just%20looking%20over%20your%20capstone%20project%20from%20Codeup%20and%20was%20wondering%20when%20you%20would%20be%20available%20to%20discuss%20an%20exciting%20career%20opportunity%20I%20have%20for%20you.'" class="button">Email Me</button>

            <div class="row d-flex">
                <div class="col-9">
                    <div class="container2">
                        <h2>Stephen Talbot</h2>
                        <p class="title">Software developer</p>
                        <p class="personal-bio">Professional Software Developer, Army Veteran, and West Chester
                            University of Pennsylvania Alumni with an overwhelming passion for Software Development.
                            Stephen's desire to learn, dedication, and collaboration skills have allowed him to excel at
                            Codeup. He is excited to take on new challenges and to make the world a better place one
                            line of code at a time.</p>
                        <div>
                            <a href="https://www.linkedin.com/in/stephen-talbot/"><i class="bi bi-linkedin"></i></a>
                            <a href="https://github.com/stalbot0"><i class="bi bi-github"></i></a>
                        </div>
                        <p>stephen.clark.talbot@gmail.com</p>
                    </div>
            </div>
            <p>
                <button onclick="location.href='mailto:stephen.clark.talbot@gmail.com?subject=Exciting%20Career%20Opportunity&body=Hello%20Stephen,%20I%20was%20just%20looking%20over%20your%20capstone%20project%20from%20Codeup%20and%20was%20wondering%20when%20you%20would%20be%20available%20to%20discuss%20an%20exciting%20career%20opportunity%20I%20have%20for%20you.'" class="button2">Email Me</button>
            </p>
        </div>
        <img class="col-3 column" src="https://cdn.filestackcontent.com/3tAcDkPmQZeytZJOzPfq" alt="Stephen">
    </div>



    <div class="row d-flex">
        <img class="col-3 column" src="https://cdn.filestackcontent.com/3sZeOctDQBSXLNQJcuTY" alt="Matt">
        <div class="container col-9">
            <h2>Matt Guardiola</h2>
            <p class="title">Software developer</p>
            <p class="personal-bio">As a junior developer, I am excited to bring my passion
                for coding and eagerness to learn to your team. With a
                strong foundation in programming languages such as Java
                and Javascript, I am confident in my ability to contribute
                innovative solutions to any project. I am dedicated to
                continuously improving my skills and am eager to
                collaborate with experienced developers to grow my
                expertise in the field.</p>
            <div class="icons">
                <a href="https://www.linkedin.com/in/matt-guardiola/"><i class="bi bi-linkedin"></i></a>
                <a href="https://github.com/MattGuardiola"><i class="bi bi-github"></i></a>
                <img class="codeup-icon" th:src="@{/img/CodeupFullColorChevronYT-removebg-preview.png}" alt="codeup icon">
            </div>
            <p>
                <button onclick="location.href='mailto:matt.g.guardiola@gmail.com?subject=Exciting%20Career%20Opportunity&body=Hello%20Matt,%20I%20was%20just%20looking%20over%20your%20capstone%20project%20from%20Codeup%20and%20was%20wondering%20when%20you%20would%20be%20available%20to%20discuss%20an%20exciting%20career%20opportunity%20I%20have%20for%20you.'" class="button">Email Me</button>
            </p>
        </div>
    </div>



    <div class="row d-flex">
        <div class="col-9">
            <div class="container2">
                <h2>Joseph McComas</h2>
                <p class="title">Software developer</p>
                <p class="personal-bio">I am a Full-Stack Web Developer and military veteran with a proven history of cultivating teams, managing projects, and finding solutions to complex challenges. I am very comfortable working in high-tempo, fluid environments with evolving priorities and deadlines. I look forward to leveraging my full-stack web application skills and knowledge to build innovative, secure, and robust solutions to contribute towards productive software applications.</p>
                <div class="icons">
                    <a href="https://www.linkedin.com/in/josephmccomas"><i class="bi bi-linkedin"></i></a>
                    <a href="https://github.com/josephmccomas"><i class="bi bi-github"></i></a>
                    <img class="codeup-icon" th:src="@{/img/CodeupFullColorChevronYT-removebg-preview.png}" alt="codeup icon">
                </div>
            </div>
            <p>
                <button onclick="location.href='mailto:joseph.mccomas@proton.me?subject=Exciting%20Career%20Opportunity&body=Hello%20Joseph,%20I%20was%20just%20looking%20over%20your%20capstone%20project%20from%20Codeup%20and%20was%20wondering%20when%20you%20would%20be%20available%20to%20discuss%20an%20exciting%20career%20opportunity%20I%20have%20for%20you.'" class="button2">Email Me</button>
            </p>
        </div>
        <img class="col-3 column" th:src="@{/img/Joseph.jpg}" alt="Stephen">
    </div>

    <div class="footer-stationary">
        <th:block th:insert="~{partials/footer :: footer}"></th:block>
    </div>

</div>
<script th:src="@{/js/loading-spinner.js}"></script>
</body>
</html>

