<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:insert="~{partials/styles :: styles}"></th:block>
    <title>About Us - Tether</title>
    <link rel="stylesheet" href="/styles/about.css"/>
</head>
<body>
<th:block th:insert="~{partials/navbar.html :: navbar}"></th:block>


<div class="about-section">
    <img class="tether-logo" src="https://cdn.filestackcontent.com/bgPJO2xzQGWZWDTYtEpa">
</div>

<h2 style="text-align:center">Teather Team</h2>
<h4 class="tether-bio">
    Tether is a social media app designed for individuals
    seeking to connect with others who share similar interests and passions.
    With Tether, users can effortlessly create and join groups dedicated to
    specific topics ranging from niche hobbies to broader interests.
</h4>
<div class="container-fluid">
    <div class="row d-flex">
        <img class="col-4 column" src="https://cdn.filestackcontent.com/CXIx7WSrQ1ivtMMHK3VX" alt="joe">
        <div class="card col-7 m-0">
            <div class="container">
                <h2>Joe Vandzura</h2>
                <p class="title">Software developer</p>
                <p>Some text that describes me.</p>
                <p>Joe@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="https://cdn.filestackcontent.com/3tAcDkPmQZeytZJOzPfq" alt="Stephen" style="width:100%">
            <div class="container">
                <h2>Stephen Talbot</h2>
                <p class="title">Software developer</p>
                <p>Some text that describes me</p>
                <p>Steven@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="https://cdn.filestackcontent.com/3sZeOctDQBSXLNQJcuTY" alt="Matt" style="width:100%">
            <div class="container">
                <h2>Matt Guardiola</h2>
                <p class="title">Software developer</p>
                <p>Some text that describes me</p>
                <p>Matt@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>

<div class="column">
    <div class="card">
        <img src="/w3images/team2.jpg" alt="Stephen" style="width:100%">
        <div class="container">
            <h2>Stephen Talbot</h2>
            <p class="title">Software developer</p>
            <p>Some text that describes me</p>
            <p>Steven@example.com</p>
            <p><button class="button">Contact</button></p>
        </div>
    </div>
</div>


<script th:src="@{/js/loading-spinner.js}"></script>
</body>
</html>

