<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:insert="~{partials/styles :: styles}"></th:block>
    <title>About Us - Tether</title>
    <link rel="stylesheet" href="/styles/about.css"/>
</head>
<body>
<th:block th:insert="~{partials/navbar.html :: navbar}"></th:block>


<div class="about-section">
    <img class="tether-logo" src="https://cdn.filestackcontent.com/bgPJO2xzQGWZWDTYtEpa">
</div>

<h2 style="text-align:center">Tether Team</h2>
<h4 class="tether-bio">
    Tether is a social media app designed for individuals
    seeking to connect with others who share similar interests and passions.
    With Tether, users can effortlessly create and join groups dedicated to
    specific topics ranging from niche hobbies to broader interests.
</h4>

<div class="container-fluid">
    <div class="row d-flex">
        <img class="col-3 column" src="https://cdn.filestackcontent.com/CXIx7WSrQ1ivtMMHK3VX" alt="joe">
        <div class="container col-9">
            <h2>Joe Vandzura</h2>
            <p class="title">Software developer</p>
            <p class="personal-bio">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                </p>
            <i class="bi bi-linkedin"></i>
            <i class="bi bi-github"></i>
            <p>Joe@example.com</p>
            <p>
                <button onclick="location.href='mailto:matt.g.guardiola@gmail.com'" class="button">Contact</button>
            </p>
        </div>
    </div>



    <div class="row d-flex">
        <div class="col-9">
            <div class="container2">
            <h2>Stephen Talbot</h2>
            <p class="title">Software developer</p>
            <p class="personal-bio">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in</p>
                <a href="https://www.linkedin.com/in/stephen-talbot/"><i class="bi bi-linkedin"></i></a>
               <a href="https://github.com/stalbot0"><i class="bi bi-github"></i></a>
            <p>Steven@example.com</p>
            </div>
            <p>
                <button onclick="location.href='mailto:stephen.clark.talbot@gmail.com'" class="button2">Contact</button>
            </p>
        </div>
        <img class="col-3 column" src="https://cdn.filestackcontent.com/3tAcDkPmQZeytZJOzPfq" alt="Stephen">
    </div>



    <div class="row d-flex">
        <img class="col-3 column" src="https://cdn.filestackcontent.com/3sZeOctDQBSXLNQJcuTY" alt="Matt">
        <div class="container col-9">
            <h2>Matt Guardiola</h2>
            <p class="title">Software developer</p>
            <p class="personal-bio">As a junior developer, I am excited to bring my passion
                for coding and eagerness to learn to your team. With a
                strong foundation in programming languages such as Java
                and Javascript, I am confident in my ability to contribute
                innovative solutions to any project. I am dedicated to
                continuously improving my skills and am eager to
                collaborate with experienced developers to grow my
                expertise in the field.</p>
            <i class="bi bi-linkedin"></i>
            <i class="bi bi-github"></i>
            <p>Matt@example.com</p>
            <p>
                <button onclick="location.href='mailto:matt.g.guardiola@gmail.com'" class="button">Contact</button>
            </p>
        </div>
    </div>



    <div class="row d-flex">
        <div class="col-9">
            <div class="container2">
                <h2>Joseph McComas</h2>
                <p class="title">Software developer</p>
                <p class="personal-bio">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in</p>
                <a href="https://www.linkedin.com/in/josephmccomas"><i class="bi bi-linkedin"></i></a>
                <a href="https://github.com/josephmccomas"><i class="bi bi-github"></i></a>
                <p class="inside-contents">Joseph@example.com</p>
            </div>
            <p>
                <button onclick="location.href='mailto:joseph.mccomas@proton.me'" class="button2">Contact</button>
            </p>
        </div>
        <img class="col-3 column" src="https://cdn.filestackcontent.com/3tAcDkPmQZeytZJOzPfq" alt="Stephen">
    </div>


</div>
<script th:src="@{/js/loading-spinner.js}"></script>
</body>
</html>

