<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <th:block th:insert="~{partials/styles :: styles}"></th:block>
</head>
<body>
<th:block th:insert="~{partials/navbar.html :: navbar}"></th:block>
<!--EDIT POST MODAL-->
<div class="modal fade" tabindex="-1" id="edit-post-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/post/edit/text">
                    <label>Title:</label>
                    <input type="text" id="edit-modal-header-input"><br><br>
                    <label>Content:</label>
                    <input type="text" id="edit-modal-body-input"> <br><br>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div sec:authorize="!isAuthenticated()" class="welcome-div">
    <img th:src="@{/img/hands-touching-bw.jpg}" class="welcome-hands" alt="Hands Touching">
    <img th:src="@{/img/black_textlogo_transparent_background.png}" class="welcome-logo"
         alt="Black Tether Full Logo">
</div>

<div class="gradient-under-photo"></div>

<div class="page-content">
    <div class="container">
        <div sec:authorize="isAuthenticated()">
            <!--        Welcome <span th:text="${#authentication.principal.firstName}"/> <span-->
            <!--            th:text="${#authentication.principal.lastName}"/>-->
            Username: <span th:text="${#authentication.principal.username}"/>
            <!--        Email: <span th:text="${#authentication.principal.email}"/>-->
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h3>Suggested Groups</h3>
                <ul class="list-group group-cards">
                    <li th:each="group: ${randoGroups}"
                        class="list-group-item d-flex justify-content-between align-items-start group-cards">
                        <div class="ms-2 me-auto">
                            <a th:href="@{/group/{id}(id=${group.getId()})}">
                                <div class="fw-bold"><span th:text="${group.getName()}"></span></div>
                            </a>
                            <span th:text="${group.getDescription()}"></span>
                        </div>
                        <div th:if="${group.private}">
                            <span class="badge bg-dark rounded-pill">Private</span>
                        </div>
                        <div th:if="${!group.private}">
                            <span class="badge bg-primary rounded-pill">Public</span>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-8">
                <div class="list-group post-card-holder">
                    <div th:each="post : ${posts}">

                        <div th:if="${post.getPostType().getId() == 1}">
                            <th:block th:insert="~{partials/text-post :: text-post}"></th:block>
                        </div>

                        <div th:if="${post.getPostType().getId() == 2}">
                            <th:block th:insert="~{partials/event-post :: event-post}"></th:block>
                        </div>

                        <div th:if="${post.getPostType().getId() == 3}">
                            <th:block th:insert="~{partials/sale-post :: sale-post}"></th:block>
                        </div>

                        <div th:if="${post.getPostType().getId() == 4}">
                            <th:block th:insert="~{partials/QandA-post :: QandA-post}"></th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="~{partials/footer :: footer}"></th:block>
<script th:src="@{/js/posts.js}"></script>
<script th:src="@{/js/add_comments.js}"></script>
</body>
</html>
