.about-section {
    padding: 15px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.tether-logo {
    width: 100%;
    /*margin-bottom:*/
}

div.gradient-under-about-logo {
    width: 100%;
    height: 10px;
    background-image: linear-gradient(rgb(5 134 239 / 19%), rgba(214, 216, 217, 0.17));
}


.tether-bio {
    font-family: Nobile, sans-serif;
    width: 60%;
    text-align: center;
    margin: auto;
}

.tether-team-name {
    width: 14em;
    height: 8em;
}

.tether-team-name-container {
    text-align: center;
    font-family: Nobile, sans-serif;
}

.team-position {
    position: relative;
    top: 0.3em;
    left: 0.2em;
    font-size: 2.3em;
}

h2.tether-bio {
    margin-top: 2em;
}

h4.tether-bio {
    margin-bottom: 1em;
}

.individual-abouts-container {
    display: flex;
    flex-direction: column;
    font-family: 'Nobile', sans-serif;
    padding: 0;
    margin: 3em 0;
}

.flex-about-us-individuals-left-side {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
    margin: 0 0.5em;
}

.flex-about-us-individuals-right-side {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: right;
    margin: 0 0.5em;
}

.flex-about-contents-row {
    display: flex;
    flex-direction: row;
    margin: 1.25em 0;
}

.about-section-pictures {
    height: 37em;
    width: 30em;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 75%;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.bi {
    height: 20px;
    width: 20px;
}

.contact-info {
align-self: end;
}

hr {
    width: 75%;
    margin: auto;
}

.icons {
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 35px;
    color: #555;
}

.codeup-icon {
    height: 40px;
    width: 40px;
}

/*keep footer at the bottom*/
#page-content-with-footer {
    position: relative;
    min-height: 100vh;
}

#page-content-without-footer {
    padding-bottom: 130px;
}

.footer-stationary {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110px;
}
