h1{
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
}

.form-container{
    border: 5px solid;
    text-align: center;
}

label{
    color: #3e72f6;
}

.group-name-div{
    width: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

.photo-container{
    display: flex;
    justify-content: space-between;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

.photo-btn{
    background-color: #0b80e5;
    font-size: 20px;
    height: 50px;
    margin-top: 25px;
    width: 35%
}

#preview{
    height: 100px;
    width: 300px;
    border: solid lightgray 1px;
    border-radius: 2px;
}

.no-photo-selected{
    vertical-align: middle;
}

img{
    height: 98px;
    width: 298px;
}

.group-description-text-area{
    width: 60%;
    text-align: center;
    margin: auto;

}



textarea {
    width: 60%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #0b80e5;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}