.create-group-modal {
    font-family: 'Nobile', sans-serif;
}

h1{
    margin-top: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 44px;
    margin-bottom: 30px;
}

h2{
    margin-bottom: 25px;
    margin-top: 20px;
    font-family: 'Oswald', sans-serif;
}

.form-container{
    text-align: center;
}

label{
    color: #0b80e5;
    font-size: 18px;
}

.group-name-div{
    width: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

.photo-container{
    display: flex;
    justify-content: space-between;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

.photo-btn{
    background-color: #0b80e5;
    font-size: 20px;
    height: 50px;
    margin-top: 25px;
    width: 35%
}

#preview{
    height: 100px;
    width: 300px;
    border: solid lightgray 1px;
    border-radius: 4px;
}

.no-photo-selected{
    vertical-align: middle;
}

img{
    height: 98px;
    width: 298px;
}

.group-description-text-area{
    width: 60%;
    text-align: center;
    margin: auto;

}



textarea {
    width: 60%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #0b80e5;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.visibility-container{
    width: 30%;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 1.7em;
    margin-top: 10px;
}




.visibility-form {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 18%;
    text-align: center;
    margin: auto;
}


.visibility-form input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}


.visibility-form:hover input ~ .checkmark {
    background-color: #ccc;
}


.visibility-form input:checked ~ .checkmark {
    background-color: #2196F3;
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.visibility-form input:checked ~ .checkmark:after {
    display: block;
}


.visibility-form .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}




.post-type-container{
    width: 30%;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 1.5em;
    margin-top: 10px;
}

/* Customize the label (the container) */
.post-type-form {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 18%;
    text-align: center;
    margin: auto;
}


.post-type-form input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


.checkmark2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}


.post-type-form:hover input ~ .checkmark2 {
    background-color: #ccc;
}


.post-type-form input:checked ~ .checkmark2 {
    background-color: #2196F3;
}


.checkmark2:after {
    content: "";
    position: absolute;
    display: none;
}


.post-type-form input:checked ~ .checkmark2:after {
    display: block;
}


.post-type-form .checkmark2:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.submit-button{
    background-color: #0b80e5;
    font-size: 20px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 25px;
    width: 35%;
    font-family: 'Nobile', sans-serif;
}