.edit-profile-img-circle {
    border-radius: 50%;
    border: 3px solid #3091f170;
}

#profile-photo-btn {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    transition: transform .7s ease-in-out;
}

#edit-profile-photo-badge {
    position: relative;
    top: 54px;
    left: 57px;
}