.edit-profile-img-circle {
    border-radius: 50%;
    border: 3px solid #3091f170;
}

#profile-photo-btn {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    transition: transform .7s ease-in-out;
}

#edit-profile-photo-badge {
    position: relative;
    top: 54px;
    left: 57px;
}

.edit-profile-nav-link {
    color: black;

}

.edit-profile-nav-link:hover {
    color: black;
    background-color: lightgray;
    text-decoration: none;
}

.edit-profile-nav-link.active {
    color: black;
    font-weight: bold;
    background-color: lightgray;
    border-left: #42a1ff solid 3px;
}