/*blue to re-use #0586ef*/
/*added comment for push*/
/**/
footer.main-footer {
    background-color: #f4f4f4;
    border-top: 1px solid #beddff;
}

.flex-footer {
    display: flex;
    justify-content: space-between;
}

img.tether-icon-footer {
    max-width: 125px;
    max-height: 1250px;
    border-radius: 50px;
    margin: 10px auto;
}

img.tether-icon-middle-footer {
    max-width: 125px;
    max-height: 1250px;
    border-radius: 50px;
    margin: 10px auto;
}

img.tether-icon-footer:hover {
    color: #0586ef;
    background-color: rgba(5, 134, 239, 0.34);
    transition: 0.1s ease-in-out;
}

a.footer-links {
    text-decoration: none;
    color: #000000;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.6px;
}

a.footer-links:hover {
    text-decoration: underline 0.25em;
    text-decoration-color: #0586ef;
    transition: .1s ease-in-out;
}

i, .footer-links2 {
    color: rgba(0, 0, 0, 0.8);
}

i:hover, .footer-links2:hover {
    color: #0586ef;
    transition: .1s ease-in-out;
}

/*fixed chat bar*/
div.dropup {
    position: fixed;
    bottom: 2px;
    right: 2px;
    width: 20em;
}

ul.custom-chat {
 --bs-dropdown-padding-y: 0!important;
    width: 20em;
}

a.dropdown-chat-item {
    border-radius: 3px;
    font-family: 'Nobile', sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: black;
}

.chat-li {
    padding: 0.5em;
    border-radius: 3px;
}

.chat-li:hover {
    background-color: rgba(41, 158, 255, 0.7);
}

.chat-dropdown-divider {
    margin: 0;
}

.custom-chat-btn {
    color: white;
    background-color: #0e96ff;
    border-radius: 5px;
    border: none;
}

.custom-chat-btn:hover, .btn.show {
    background-color: #1688e0;
    color: #FFFFFF!important;
}

i.bi-messenger {
    color: white;
    background-color: transparent;
}

/*.btn.show {*/
/*    background-color: rgba(204, 204, 204, 0.98)!important;*/
/*}*/