h1{
    float: left;
    margin-left: 70px;
    margin-top: 250px;
    margin-bottom: 0px;
}


.group-photo-banner{
    width: 100%;
    height: 300px;
    background-color: lightgray;
    float: bottom;
}

.three-main{
    display: flex;
    justify-content: space-between;
}

.group-nav{

}


.posted-list{
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
}

.members-list{


}