h1{
    color: black;
    float: left;
    position: relative;
    left: 95px;
    top: 430px;
    margin-bottom: 0px;
    z-index: 1;
    padding: 4px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: 'Oswald', sans-serif;

}


h3{
    text-decoration: underline;
    text-decoration-color: #0b80e5;
}

h2{
    display: inline;
    padding-right: 0;
}

h5{
    margin-right: 20px;
}

.group-photo-banner{
    width: 100%;
    height: 440px;
    background-color: lightgray;
    float: bottom;
}

.group-header{
    margin: 10px 0px 30px;
    display: flex;
    justify-content: space-between;
    font-family: 'Nobile', sans-serif;
}

.group-bio-container{
    border: 2px solid #0b80e5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.button-container{
    display: flex;
    justify-content: space-between;
}


#join-group-btn{
    position: relative;
    right: 30px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    background-color: #0b80e5;
    padding: 10px;
    margin-top: 10px;
    width: 120px;
}

#pending-group-btn{
    padding: 10px;
    margin-top: 10px;
    width: 120px;
}

#leave-group-btn{
    padding: 10px;
    margin-top: 10px;
    width: 120px;
}

.create-post-btn{
    background-color: #0b80e5;
    padding: 10px;
    margin-top: 10px;
    width: 120px;
}

#edit-group-btn{
    background-color: #0b80e5;
    padding: 10px;
    margin-top: 10px;
    width: 120px;
}

#delete-group-btn{
    padding: 10px;
    margin-top: 10px;
    width: 120px;
    margin-left: 25px;
}




.three-main{
    display: flex;
    justify-content: space-between;
}

.group-nav-tabs{
    width: 25%;
    margin-right: 20px;
}

.group-nav-pane{
    width: 900px;
}

div#v-pills-tab {
    margin-top: 48px;
    width: 200px;
}


.members-list{
    width: 25%;
    margin-left: 20px;
}

.member-list-items{
    height: 50px;
}

.member-card-container{
    display: flex;
    justify-content: space-around;
}

.rounded-pill{
    position: relative;
    max-height: 20px;
    float: right;
    display: inline;
    z-index: 1;
    background-color: #0b80e5;
}

.group-photo{
    display: inline-block;
    background-color: lightgray;
    width: 2.5em;
    height: 2.5em;
    border-radius: 100px;
}

.user-photo{
    position: relative;
    float: left;
    margin-right: 10px;

}
