.header-font {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    font-weight: bold;
    margin: auto 3px;
}

.group-photo-banner{
    width: 100%;
    height: 440px;
    background-color: #3091f170;
}

.gradient-under-group-image {
    width: 100%;
    height: 10px;
    background-image: linear-gradient(rgb(5 134 239 / 19%), rgba(214, 216, 217, 0.17));
}

.group-header{
    margin: 10px 0px 30px;
    display: flex;
    justify-content: space-between;
    font-family: 'Nobile', sans-serif;
}

.group-bio-container{
    font-style: italic;
}

button.group-button {
    font-family: 'Nobile', sans-serif;
    font-size: 17px;
    font-weight: bold;
    border: none;
    margin-left: 3px;
    border-radius: 5px;
    height: 30px;
}

.edit-group-button, .join-group-button, .cancel-request-group-button, .leave-group-button, .create-post-button {
    background-color: #0e96ffd4;
    color: white;
    width: 10em;
    padding: 0.25em 0;
}

.edit-group-button:hover {
    background-color: #1688e0 !important;
}

.join-group-button:hover {
    background-color: #1a6b1a;
    color: white;
}

.cancel-request-group-button:hover {
    background-color: #fdc244;
    color: white;
}

.leave-group-button:hover {
    background-color: #fdc244;
    color: white;
}

.create-post-button:hover {
    background-color: #3e72f6;
    color: white;
}

.delete-group-button {
    background-color: rgba(169, 2, 2, 0.72);
    color: white;
    width: 10em;
    padding: 0.25em 0
}

.delete-group-button:hover {
    background-color: red;
}

.bottom-nav-tabs-border {
    font-family: Nobile, sans-serif;
    border-bottom: transparent;
}

.three-main{
    display: flex;
    justify-content: space-between;
}

.group-nav-tabs{
    width: 25%;
    margin-right: 20px;
}

.group-nav-pane{
    width: 900px;
}

div#v-pills-tab {
    margin-top: 48px;
    width: 200px;
}

/*members*/

.members-list{
    width: 25%;
    margin-left: 20px;
}

.member-list-items{
    height: 50px;
}

.member-card-container{
    display: flex;
    justify-content: space-around;
}

.member-post-info a {
    font-family: 'Nobile', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 700;
}

.member-post-info a:hover {
    text-decoration: underline;
    text-decoration-color: #0586ef;
    text-decoration-thickness: 2px;
}

.member-name {
    font-size: large;
}

.member-photo {
    background-color: lightgray;
    width: 3.5em;
    height: 3.5em;
    border-radius: 100px;
    border: 1px solid grey;
}

.member-cards {
    float: left;
    width: 100%;
}

.group-page-content {
    min-height: 75vh;
}

.post-button{
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #42a1ff;
    width: 25%;
    height: 2em;
    font-size: 18px;
}

.close-button{
    border: none;
    border-radius: 5px;
    color: black;
    background-color: #e5e5e5;
    width: 25%;
    height: 2em;
    font-size: 18px;
}


.card{
    width: 29rem;
    border: none;
}

.card-body{
    width: 162%;
}


.date{
    font-size: 20px;
    border-radius: 5px;
    padding-left: 50px;
    padding-top: 6px;
}

.modal-title {
    font-family: 'Oswald', sans-serif;
    font-size: 23px;
}

.model-body{
    font-family: 'Nobile', sans-serif;
}

.card-body{
    font-family: 'Nobile', sans-serif;
}

/*members edited*/
#user-flex-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content-header {
    font-family: Oswald, sans-serif;
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
}

.view-all-members-container-a {
    color: grey!important;
    text-decoration: none;
}

.view-all-members-container-a:hover {
    color: #212b3a!important;
}

.group-user-card {
    margin: 5px 0;
    font-size: 18px;
    font-family: 'Nobile', sans-serif;
    box-shadow: 2px 2px 2px #e9e7e7ef;
    width: 100%;
    border: 1px solid #d3d3d38c;
}

.group-user-card:hover {
    box-shadow: 2px 2px 2px #b2d8ff
}

a.no-text-decoration {
    text-decoration: none;
}

.group-user-card-a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5px;
}

.group-user-card-p1 {
    padding-top: 0.5em;
    margin: 0 0 0 0.5em!important;
    color: black;
    font-size: 12px;
}

.group-user-card-p1:hover {
    text-decoration: none;
}

.group-user-card-p2 {
    padding-top: 0.25em;
    margin: 0 0 0 0.5em!important;
    color: grey;
    font-size: 12px;
}

.group-user-card-p2:hover {
    color: grey;
}

.remove-friend-button {
    font-size: 0.5em!important;
    background-color: rgba(169, 2, 2, 0.72);
    color: white;
    height: 20px!important;
}

.remove-friend-button:hover {
    background-color: red;
}

.view-all-members-container {
    border: none;
    text-align: center;
}

/**/

.visibility-container{
    width: 60%;
    text-align: center;
    margin: auto;
    position: relative;
    right: 1.7em;
    margin-top: 10px;
    font-family: 'Nobile', sans-serif;
}

.modal-dialog-delete {
    margin-top: 10em;
}

.visibility-form {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 18%;
    text-align: center;
    margin: auto;
}


.visibility-form input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 50%;
}


.visibility-form:hover input ~ .checkmark {
    background-color: #ccc;
}


.visibility-form input:checked ~ .checkmark {
    background-color: #2196F3;
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.visibility-form input:checked ~ .checkmark:after {
    display: block;
}


.visibility-form .checkmark:after {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}





.post-type-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 1.5em;
    margin-top: 10px;
    font-family: 'Nobile', sans-serif;
}

/* Customize the label (the container) */
.post-type-form {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 18%;
    text-align: center;
    margin: auto;
    font-size: 17px;
}


.post-type-form input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


.checkmark2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
}


.post-type-form:hover input ~ .checkmark2 {
    background-color: #ccc;
}


.post-type-form input:checked ~ .checkmark2 {
    background-color: #2196F3;
}


.checkmark2:after {
    content: "";
    position: absolute;
    display: none;
}


.post-type-form input:checked ~ .checkmark2:after {
    display: block;
}


.post-type-form .checkmark2:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.vis-types{
    font-family: 'Nobile', sans-serif;
    font-size: 18px;
    margin-top: 15px;
}

textarea{
    font-family: 'Nobile', sans-serif;
}

input{
    font-family: 'Nobile', sans-serif;
}

.photo-btn{
    margin-bottom: 20px;
    font-family: 'Nobile', sans-serif;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #42a1ff;
    height: 2em;
    font-size: 18px;
}

/*keep footer at the bottom*/
#page-content-with-footer {
    position: relative;
    min-height: 100vh;
}

#page-content-without-footer {
    padding-bottom: 130px;
}

.footer-stationary {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110px;
}