/* blue to re-use #0586ef */

* {
    font-family: 'Nobile', sans-serif;
}
/* welcome image */
p.logged-in-user-index {
    margin: 10px 5px 0 0;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    letter-spacing: 0.7px;
}

div.logged-in-user {
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    margin: 0;
}

div.welcome-div {
    width: 100%;
    display: flex;
}

img.welcome-logo {
    width: 50em;
    height: 15em;
    position: relative;
    z-index: 1;
    margin: auto;
    overflow: scroll;
}

hr.under-tether-logo {
    color: #0586ef;
    margin: 0 auto 55px auto;
    width: 60%;
    height: 3px;
    background-color: #0586ef;
}

div.page-content {
    background-color: rgba(255, 255, 255, 0.94);
    margin-top: 20px;
}

/* cards general */

h3 {
    display: inline-block;
}

.group-cards {
    float: left;
    width: 25em;
    display: inline-block;
}

footer.footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     height: 80px;
     background-color: rgba(113, 184, 243, 0.95);
     color: black;
     text-align: center;
    border-radius: 3px;
}

.post-card-holder {
    position: relative;
    float: right;
    display: inline-block;
}

.post-card-holder-width {
    max-width: 880px;
    width: 880px;
    min-width: 880px;
}

p.index-footer-text {
    width: 100%;
    margin: auto;
    font-size: 25px;
    height: 100%
}

img.tether-name {
    max-width: 150px;
    max-height: 100px;
    margin-bottom: 5px;
}

p.index-heading {
    font-family: 'Nobile', sans-serif;
    font-weight: 500;
    font-size: 30px;
    width: 100%;
    margin: auto;
}

a.join-footer {
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

a.join-footer:hover {
    text-decoration: underline;
    text-decoration-color: black;
}

/*suggest group styling*/

.group-a {
    font-family: 'Nobile', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-weight: 900;
}

.group-a:hover {
    text-decoration: underline;
    text-decoration-color: #0586ef;
    text-decoration-thickness: 2px;
}

.group-bio {
    font-family: 'Nobile', sans-serif;
    font-size: 13px;
    width: 250px;
    height: 50px;
    overflow: hidden;
}

/*pills on groups*/
.private-pill {
    background-color: black;
    color: white;
    width: 60px;
}

.public-pill {
    background-color: rgba(5, 134, 239, 0.91);
    color: white;
    width: 60px;
}