.individual-card-posts {
    border-radius: 6px !important;
    padding: 15px 20px;
    box-shadow: 3px 3px 3px #e9e7e7ef;
    margin-bottom: 15px;
}

.post-card-holder {
    position: relative;
    float: right;
    width: 55em;
    display: inline-block;
}

/* user post image and info (top of card) */

.post-item {
    margin-bottom: 15px;
}

.posted-by-info {
    display: flex;
}

.user-photo {
    display: inline-block;
    background-color: lightgray;
    width: 2.5em;
    height: 2.5em;
    border-radius: 100px;
    border: 1px solid grey;
}

.user-post-info {
    margin: auto auto auto 15px;
}

p.post-header {
    margin: 6px 0 0 0;
    font-size: 18px;
    font-weight: 700;
}

.post-details {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
}

.days-ago-info {
    font-family: 'Nobile', sans-serif;
    font-size: 14px;
    color: #8a8a8a;
    margin: auto 0;
}

.post-info-font {
    font-family: 'Nobile', sans-serif;
    font-size: 16px;
}

.user-post-info a {
    font-family: 'Nobile', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 700;
}

.user-post-info a:hover {
    text-decoration: underline;
    text-decoration-color: #0586ef;
    text-decoration-thickness: 2px;
}

.list-group-item-action:hover {
    z-index: 0 !important;
}

/* comments container (bottom of card) */

.comments-container {
    margin-top: 15px;
}

.comments-header-text {
    font-size: 17px;
    margin-bottom: 4px;
}

.comment-days-ago-info {
    position: relative;
    float: right;
    color: #8a8a8a;
    font-family: 'Nobile', sans-serif;
    font-size: 13px;
}

a.commenter {
    font-family: 'Nobile', sans-serif;
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 17px;
}

a.commenter:hover {
    text-decoration: underline;
    text-decoration-color: #0586ef;
    text-decoration-thickness: 2px;
}

.comment-text {
    font-family: 'Nobile', sans-serif;
    font-size: 13px;
}