

/*fixed footer for the login page*/
/*div.fixed-footer-login {*/
/*    position: fixed;*/
/*    width: 100%;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*}*/

div#page-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%
    /*padding-left: 600px;*/
}

.register-card {
    width: 18rem;
    text-align: center;
    margin: auto;
}

.requirement-verification {
    font-size: 14px;
    position: relative;
    left: 320px;
    bottom: 305px;
    width: 74%;
    border: 1px solid #8080805e;
    border-radius: 5px;
    padding: 0 10px;
}

* {
    font-family: 'Nobile', sans-serif;
}

input {
    margin: 5px 0;
}

div.margin-top {
    margin-top: 140px;
}

img.margin-top {
    margin-top: 200px;
}

.login-tether-logo {
    width: 800px;
    height: 260px;
}

.custom-height {
    height: 385px;
}

.button-no-show {

}

/*fix footer to bottom of page*/
#login-page-container {
    position: relative;
    min-height: 100vh;
}

#login-page-wrap {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 110px;
}

.fixed-footer-login {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 110px;
}

button.nav-link {
    text-decoration: none;
    color: #ababab;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: white;
    background-color: #212b3a;
}