/*header*/
.content-header {
    display: flex;
    justify-content: center;
    font-family: Oswald, sans-serif;
    margin: 1em 0 0 0;
}

.group-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.group-card {
    font-family: 'Nobile', sans-serif;
    margin-bottom: 1.5em;
    padding: 0;
    border-radius: 4px;
    border: solid darkgray 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-pill {
    display: flex;
}

.private-pill {
    background-color: black;
    color: white;
    width: 60px;
    font-weight: 900;
    padding-top: 0.5em;
}

.public-pill {
    background-color: rgba(5, 134, 239, 0.91);
    color: white;
    width: 60px;
    font-weight: 900;
    padding-top: 0.5em;
}

.no-groups {
    display: flex;
    justify-content: center;
    font-family: Nobile, sans-serif;
    font-size: 1em;
}

.no-groups-a {
    text-decoration: none;
    color: grey;
}

.no-groups-a:hover {
    color: black;
}

img.group-header-group-list {
    height: 13em;
    width: 100%;
}

.group-card:hover {
    box-shadow: 2px 2px 2px 2px rgb(215 233 252);
}

.no-text-decoration1, .no-text-decoration2 {
    text-decoration: none;
}

.no-text-decoration1:hover {
    color: darkorange;
}

.no-text-decoration2 {
    color: black;
}

.my-groups-page-content {
    display: flex;
    justify-content: space-evenly;
}

.owned-groups-container, .joined-groups-container {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.group-info a {
    font-family: 'Nobile', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 700;
}

.group-info a:hover {
    text-decoration: underline;
    text-decoration-color: #0586ef;
    text-decoration-thickness: 2px;
}

/*keep footer at the bottom*/
#page-content-with-footer {
    position: relative;
    min-height: 100vh;
}

#page-content-without-footer {
    padding-bottom: 130px;
}

.footer-stationary {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110px;
}