.user-post-info a {
    font-family: 'Nobile', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 700;
}

.user-post-info a:hover {
    text-decoration: underline;
    text-decoration-color: #0586ef;
    text-decoration-thickness: 2px;
}

.friend-name {
    font-size: large;
}

.friend-photo {
    background-color: lightgray;
    width: 3.5em;
    height: 3.5em;
    border-radius: 100px;
    border: 1px solid grey;
}

.friend-cards {
    float: left;
    width: 25em;
}

button.profile-button {
    font-family: 'Nobile', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #3091f170;
    margin-left: 3px;
    border-radius: 5px;
    height: 30px;
    background-color: transparent;
}

button.profile-button:hover {
    background-color: #3091f170;
}