.user-post-info a {
    font-family: 'Nobile', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 700;
}

.user-post-info a:hover {
    text-decoration: underline;
    text-decoration-color: #0586ef;
    text-decoration-thickness: 2px;
}

.friend-name {
    font-size: large;
}

.friend-photo {
    background-color: lightgray;
    width: 3.5em;
    height: 3.5em;
    border-radius: 100px;
    border: 1px solid grey;
}

.friend-cards {
    float: left;
    width: 25em;
}

button.profile-button {
    font-family: 'Nobile', sans-serif;
    font-size: 14px;
    font-weight: bold;
    border: none;
    margin-left: 3px;
    border-radius: 5px;
    height: 30px;
    width: 12em;
}

#send-message-btn, #add-friend-btn, #accept-friend-request-btn {
    background-color: #0e96ffd4;
    color: white;
}

.bi-messenger, .bi-person-fill-add, .bi-person-fill-check, i.bi-messenger:before, .bi-person-fill-add:before, .bi-person-fill-check:before {
    background-color: transparent;
    color: white;
}

#send-message-btn:hover, #add-friend-btn:hover, .bi-messenger:hover, #accept-friend-request-btn:hover, .bi-person-fill-check:hover {
    background-color: #0368c5;
}

#cancel-friend-request-btn, .bi-person-fill-slash, .bi-person-fill-slash:before {
    color: white;
    background-color: #fa9600;
}

.bi-person-fill-slash, .bi-person-fill-slash:before {
    color: white;
    background-color: transparent;
}

#cancel-friend-request-btn:hover, .bi-person-fill-slash:hover {
    background-color: #d27001;
}

#remove-friend-btn, #decline-friend-request-btn {
    color: white;
    background-color: rgba(169, 2, 2, 0.72);
}

.bi-person-fill-dash, .bi-person-fill-x, .bi-person-fill-dash:before, .bi-person-fill-x:before {
    color: white;
    background-color: transparent;
}

#remove-friend-btn:hover, .bi-person-fill-dash:hover, #decline-friend-request-btn:hover, .bi-person-fill-x:hover {
    background-color: red;
}

.profile-hr {
    margin-top: 0;
}

.profile-img-circle {
    border-radius: 50%;
    border: 3px solid #3091f170;
    margin-left: 2em;
}

.profile-requester-a {
    text-decoration: none;
    color: black;
    font-family: Nobile, sans-serif;
}

.profile-requester-a:hover {
    color: #8a8a8a;
}
/*


*/
.group-post-friend-container {
    margin-top: 1em;
    display: flex;
    justify-content: space-evenly;
}

/*all headers for groups, posts, friends*/
.content-header {
    font-family: Oswald, sans-serif;
    display: flex;
    justify-content: center;
    margin: 10px 0 20px 0;
}

/*groups*/
#group-flex-container, #user-flex-container {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.profile-group-card {
    margin-bottom: 7px;
    margin-top: 7px;
    border-radius: 5px;
    border: 1px solid #d9d9d9 !important;
    height: 70px;
    box-shadow: 2px 2px 2px #e9e7e7ef;
}

.profile-group-card:hover {
    box-shadow: 2px 2px 2px #b2d8ff;
}

.profile-group-a {
    display: flex;
    justify-content: space-between;
    font-family: Nobile, sans-serif;
    text-decoration: none;
    color: black
}

.name-bio-profile {
    max-width: 77%;
}

.group-bio-profile {
    margin-bottom: 5px;
    max-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    content: "";
    position: relative;
    font-size: 12px;
}

.group-bio-profile {
    margin-bottom: 5px;
    max-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    content: "";
    position: relative;
    font-size: 12px;
}

.group-bio-profile:before {
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background:linear-gradient(transparent 10px, white);
}

.pill-group-search-results {
    max-width: 20%;
}

.private-pill {
    background-color: black;
    color: white;
    width: 60px;
    font-weight: 900;
    padding-top: 0.5em;
}

.public-pill {
    background-color: rgba(5, 134, 239, 0.91);
    color: white;
    width: 60px;
    font-weight: 900;
    padding-top: 0.5em;
}

.view-all-groups-friends-container {
    border: none;
    text-align: center;
}

.view-all-groups-friends-a {
    color: grey;
    text-decoration: none;
}

.view-all-groups-friends-a:hover {
    color: #212b3a;
}

/*posts*/
.profile-post-container {
    width: 50%;
    min-width: 50%;
    max-width: 80%;
}

/*users*/
.profile-user-card {
    margin: 5px 0;
    font-size: 18px;
    font-family: 'Nobile', sans-serif;
    box-shadow: 2px 2px 2px #e9e7e7ef;
}

.profile-user-card:hover {
    box-shadow: 2px 2px 2px #b2d8ff
}

a.no-text-decoration {
    text-decoration: none;
}

.profile-user-card-a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5px;
}

.profile-user-card-p1 {
    padding-top: 0.5em;
    margin: 0 0 0 0.5em!important;
    color: black;
    font-size: 12px;
}

.profile-user-card-p1:hover {
    text-decoration: none;
}

.profile-user-card-p2 {
    padding-top: 0.25em;
    margin: 0 0 0 0.5em!important;
    color: grey;
    font-size: 12px;
}

.profile-user-card-p2:hover {
    color: grey;
}

/*keep footer at the bottom*/
#page-content-with-footer {
    position: relative;
    min-height: 100vh;
}

#page-content-without-footer {
    padding-bottom: 130px;
}

.footer-stationary {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110px;
}
