.search-form-container{
    margin: 25px auto;
    display: flex;
    justify-content: center;
}

.search-form{
    width: 80%;
}

.post-card{
    float: left;
    width: 53em;
    display: inline-block;
    margin-right: 2em;
    margin-bottom: .75em;
    margin-left: 20px;
}

.no-postcard{
    margin-bottom: 200px;
}

.group-card-container{
    margin-right: 20px;
    float: right;
    width: 430px;
    margin-bottom: .75em;
    padding: 10px;
}


.group-card{
    margin-right: 20px;
    float: right;
    width: 430px;
    margin-bottom: .75em;
    padding: 10px;
    box-shadow: 3px 3px 3px #e9e7e7ef;
}

.user-card-container{
    margin-right: 20px;
    float: right;
    width: 430px;
    margin-bottom: .75em;
    padding: 10px;
}

.user-card{
    margin-right: 20px;
    float: right;
    width: 430px;
    margin-bottom: .75em;
    padding: 10px;
    box-shadow: 3px 3px 3px #e9e7e7ef;
}

