.card-header{
    font-family: 'Oswald', sans-serif;
}

.card-body{
    font-family: 'Nobile', sans-serif;
}

.card-body a {
    font-family: 'Nobile', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
}

.card-body a:hover{
    text-decoration: underline;
    text-decoration-color: #0586ef;
    text-decoration-thickness: 2px;
}